@page
@model MyKnowledgeManager.Web.Pages.MyKnowledges.AddModel
@using MyKnowledgeManager.Core.Aggregates.Knowledge.Enums
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Knowledge";
}

@section Styles {
    <link href="~/lib/tagify/tagify.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 mb-2">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="Knowledge.Title" />
                                    <label asp-for="Knowledge.Title"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-2">
                                <div class="form-floating">
                                    <textarea class="form-control" asp-for="Knowledge.Description" rows="12"></textarea>
                                    <label asp-for="Knowledge.Description"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" asp-for="Knowledge.KonwledgeLevel" asp-items="@Html.GetEnumSelectList<KnowledgeLevel>()">
                                    </select>
                                    <label asp-for="Knowledge.KonwledgeLevel"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" asp-for="Knowledge.KnowledgeImportance" asp-items="@Html.GetEnumSelectList<KnowledgeImportance>()">
                                    </select>
                                    <label asp-for="Knowledge.KnowledgeImportance"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Tags"></label>
                                    <input class="form-control" asp-for="Tags" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-6 text-center m-auto">
                                <button type="submit" class="btn btn-primary w-100">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/js/pages/my-knowledges/add.js"></script>
}