<table class="table table-bordered table-light text-center table-striped table-hover table-responsive-sm">
  <thead>
    <tr>
      <th>
        Tag Name
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tbody>
    <tr *ngIf="isUpdating">
      <td colspan="2">
        <div class="text-center">
          <span class="spinner spinner-border"></span>
          <p>
            Loading...
          </p>
        </div>
      </td>
    </tr>
    <tr *ngFor="let tag of knowledgeTags">
      <td>
        {{ tag.tagName }}
      </td>
      <td>
        <button class="btn btn-sm btn-info mx-1" (click)="editClicked(tag.id!)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteClicked(tag.id!)">Delete</button>
      </td>
    </tr>
    <tr *ngIf="!isUpdating && !knowledgeTags">
      <td colspan="2">
        You have not created any tags yet.
      </td>
    </tr>
  </tbody>
</table>