<div class="container">
  <div class="row my-2">
    <div class="col-lg-12 form-floating">
      <input
        type="text"
        id="knowledgeTitle"
        class="form-control"
        [(ngModel)]="knowledge.title"
        required
        #title="ngModel"
      />
      <label for="knowledgeTitle">Title</label>
      <span *ngIf="title.invalid && title.touched" class="text-danger">
        {{ 'Title' | requiredValidationMessage }}
      </span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 form-floating">
      <textarea
        [(ngModel)]="knowledge.description"
        class="form-control"
        id="knowledgeDescription"
        cols="30"
        rows="10"
        required
        #description="ngModel"
      ></textarea>
      <label for="knowledgeDescription">Description</label>
      <span
        *ngIf="description.invalid && description.touched"
        class="text-danger"
      >
        {{ 'Description' | requiredValidationMessage }}
      </span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-6 form-floating">
      <select
        class="form-select"
        id="knowledgeImportance"
        [(ngModel)]="knowledge.knowledgeImportance"
        required
        #importance="ngModel"
      >
        <option selected disabled>Select Knowledge Importance</option>
        <option
          *ngFor="let item of knowledgeImportanceArray"
          [value]="item | knowledgeImportance"
        >
          {{ item | knowledgeImportance: true }}
        </option>
      </select>
      <label for="knowledgeImportance">Importance</label>
      <span
        *ngIf="importance.invalid && importance.touched"
        class="text-danger"
      >
        {{ 'Importance' | requiredValidationMessage }}
      </span>
    </div>
    <div class="col-lg-6 form-floating">
      <select
        class="form-select"
        id="knowledgeLevel"
        [(ngModel)]="knowledge.knowledgeLevel"
        required
        #level="ngModel"
      >
        <option selected disabled>Select Knowledge Level</option>
        <option
          *ngFor="let item of knowledgeLevelArray"
          [value]="item | knowledgeLevel"
        >
          {{ item | knowledgeLevel: true }}
        </option>
      </select>
      <label for="knowledgeLevel">Level</label>
      <span *ngIf="level.invalid && level.touched" class="text-danger">
        {{ "Level" | requiredValidationMessage }}
      </span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 form-floating">
      <input
        type="text"
        class="form-control"
        id="knowledgeTags"
        [(ngModel)]="knowledge.knowledgeTags"
      />
      <label for="knowledgeTags">Tags</label>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 text-center">
      <button
        class="btn btn-sm btn-primary"
        [ngClass]="(!title.valid || !description.valid || !importance.valid || !level.valid) ? 'disabled' : ''"
        type="button"
        (click)="createKnowledge()"
        *ngIf="!updateMode"
      >
        Save
        <span
          class="spinner-border spinner-border-sm"
          *ngIf="isUpdating"
        ></span>
      </button>
      <button
        class="btn btn-sm btn-primary"
        type="button"
        [ngClass]="(!title.valid || !description.valid || !importance.valid || !level.valid) ? 'disabled' : ''"
        (click)="updateKnowledge()"
        *ngIf="updateMode"
      >
        Save
        <span
          class="spinner-border spinner-border-sm"
          *ngIf="isUpdating"
        ></span>
      </button>
    </div>
  </div>
</div>
