<div class="container">
  <div class="row">
    <div class="col-lg-12 form-group">
      <label for="knowledgeTagTitle" class="form-label">Title</label>
      <input
        type="text"
        id="knowledgeTagTitle"
        class="form-control"
        [(ngModel)]="knowledgeTag.tagName"
      />
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 text-center form-group">
      <button
        class="btn btn-sm btn-primary"
        type="button"
        (click)="createKnowledgeTag()"
      >
        Save
        <span class="spinner-border" *ngIf="isUpdating"></span>
      </button>
    </div>
  </div>
</div>
