<div class="container p-3">
  <div class="row my-2">
    <div class="col-lg-8 m-auto">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openCreateModal(content)"
      >
        Create Knowledge
      </button>
      <!-- <a [routerLink]="['/knowledge/trash']" class="btn btn-info mx-2">
        View Trash
      </a> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Manage Knowledge Tags</h3>
        </div>
        <div class="card-body">
          <input type="hidden" id="itemId" />
          <!-- <app-tags-list
            (editButtonClicked)="openUpdateModal(content)"
            (moveToTrashButtonClicked)="openDeleteModal(trash)"
          ></app-tags-list> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!updateMode">
      Create Knowledge Tag
    </h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="updateMode">
      Update Knowledge Tag
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-create-update
      [knowledge]="knowledge"
      [updateMode]="updateMode"
    ></app-create-update>
  </div>
</ng-template>

<ng-template #trash let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Knowledge Tag</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- <app-delete-trash
      [trashMode]="true"
      [knowledge]="knowledge"
    ></app-delete-trash> -->
  </div>
</ng-template>
