<div class="container">
  <div class="row">
    <div class="col-lg-8 m-auto">
      <input type="hidden" [(ngModel)]="knowledgeTag.id">
      <input type="hidden" [(ngModel)]="knowledgeTag.userId">
      <div class="row">
        <div class="col-lg-12 form-group">
          <label for="knowledgeTagTitle" class="form-label">Title</label>
          <input
             type="text"
             id="knowledgeTagTitle"
             class="form-control"
             [(ngModel)]="knowledgeTag.tagName"
             />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form-group">
          <button (click)="createKnowledgeTag()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>